@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings

<div class="order-summary-content">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="table-wrapper table-content table-responsive">
                <table class="table cart">
                    <thead>
                        <tr>

                            <th class="cart-product-name" colspan="3" style="text-align: left">
                                Products Name
                            </th>
                            <th class="li-product-price">Unit Price</th>
                            <th class="li-product-quantity">@T("ShoppingCart.Quantity")</th>
                            <th class="li-product-subtotal">Subtotal</th>
                            <th class="li-product-remove">@*@T("ShoppingCart.Remove")*@</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td class="li-product-thumbnail li-product-name" colspan="3">
                                    <a href="@Url.RouteUrl(" Product", new {SeName=item.ProductSeName})" class="product-name">
                                        @if (Model.ShowProductImages)
                                        {
                                            <img class="product-img-small" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                        }
                                        <span class="item-title">
                                            @item.ProductName
                                            @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <span class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                            {
                                                <span class="recurring-info">
                                                    @Html.Raw(item.RecurringInfo)
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(item.RentalInfo))
                                            {
                                                <span class="rental-info">
                                                    @Html.Raw(item.RentalInfo)
                                                </span>
                                            }
                                            @if (Model.IsEditable && item.AllowItemEditing)
                                            {
                                                var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName }, webHelper.CurrentRequestProtocol);
                                                editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid", item.Id.ToString());
                                                <span class="edit-item">
                                                    <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                                </span>
                                            }
                                            @if (item.Warnings.Count > 0)
                                            {
                                                <span class="message-error">
                                                    <ul>
                                                        @foreach (var warning in item.Warnings)
                                                        {
                                                            <li>@Html.Raw(warning)</li>
                                                        }
                                                    </ul>
                                                </span>
                                            }
                                        </span>
                                    </a>
                                </td>
                                <td class="li-product-price unit-price">
                                    <span>@item.UnitPrice</span>
                                </td>
                                <td>
                                    <div class="quantity">
                                        @*<label class="td-title" for="itemquantity@(item.Id)">@T("ShoppingCart.Quantity"):</label>*@
                                        @if (Model.IsEditable)
                                        {
                                            if (item.AllowedQuantities.Count > 0)
                                            {
                                                <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                    @foreach (var qty in item.AllowedQuantities)
                                                    {
                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="cart-box qty-input" />
                                            }
                                        }
                                        else
                                        {
                                            <span class="product-quantity">@item.Quantity</span>
                                        }
                                    </div>
                                </td>
                                <td class="subtotal">
                                    @*<label class="td-title">@T("ShoppingCart.ItemTotal"):</label>*@
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @if (!string.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave", item.Discount)
                                        </div>
                                        if (item.MaximumDiscountedQty.HasValue)
                                        {
                                            <div class="discount-additional-info">
                                                @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                            </div>
                                        }
                                    }
                                </td>
                                @if (Model.ShowVendorName)
                                {
                                    <td class="vendor" style="display:none;">
                                        <label class="td-title">@T("ShoppingCart.VendorName"):</label>
                                        <span class="vendor-name">@item.VendorName</span>
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku" style="display:none;">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </td>
                                }
                                @if (Model.IsEditable)
                                {
                                    <td class="li-product-remove remove-from-cart">
                                        @if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                            @*<label class="td-title" for="removefromcart@(item.Id)">@T("ShoppingCart.Remove"):</label>*@
                                            <input type="checkbox" name="removefromcart" value="@(item.Id)" id="removefromcart@(item.Id)" hidden />
                                            <a class="icon-custom icon-delete remove-from-cart-button">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        }
                                    </td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div class="row common-buttons">
                @if (Model.IsEditable)
                {
                    <div class="col-md-4 mml-auto align-text">
                        <ul class="ul-shopping-cart">
                            <li><i class="fa fa-reply" id="fa-shopping-cart" aria-hidden="true"></i></li>
                            <li class="li-continue-box">
                                <input type="submit" name="continueshopping" value="@T(" ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mml-auto align-text">
                        <ul class="ul-shopping-cart">
                            <li><i class="fa fa-trash-o" id="fa-shopping-cart" aria-hidden="true"></i></li>
                            <li class="li-continue-box">
                                <input value="Clear shopping cart"
                                       name="continue_shopping" type="submit" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mml-auto align-text">
                        <ul class="ul-shopping-cart">
                            <li><i class="fa fa-refresh" aria-hidden="true" id="fa-shopping-cart"></i></li>
                            <li class="li-continue-box">
                                <input type="submit" name="updatecart" value="@T(" ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                            </li>
                        </ul>
                    </div>
                }
            </div>
            <div class="shopping-border"></div>
            <div class="row">
                <div class="col-md-4 ml-auto">

                    @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <div class="tax-shipping-info">
                            @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </div>
                    }
                    <div class="cart-options" style="display:none;">
                        @if (Model.IsEditable)
                        {
                            @await Html.PartialAsync("_CheckoutAttributes", Model)
                        }
                        @await Component.InvokeAsync("SelectedCheckoutAttributes")
                    </div>
                    <div class="cart-footer">
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryCartFooter })
                        @if (Model.IsEditable)
                        {
                            <div class="cart-collaterals">
                                <div class="deals">
                                    @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
                                    <div style="display:none;">
                                        @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)
                                    </div>
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentDeals })
                                </div>
                            </div>

                        }
                        <div class="totals">
                            @if (Model.IsEditable)
                            {
                                if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                                {
                                    <div class="min-amount-warning">
                                        @Model.MinOrderSubtotalWarning
                                    </div>
                                }
                            }
                            @if (Model.IsEditable)
                            {
                                <div class="addon-buttons">
                                    @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                                    @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                                    {
                                        @await Component.InvokeAsync(pm)
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ml-auto">
                    <div style="display:none;">
                        &nbsp;
                        @await Component.InvokeAsync("EstimateShipping")
                    </div>
                </div>
                <div class="col-md-6 ml-auto">
                    @await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })

                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T(" Checkout.TermsOfService")" style="display: none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service" style="display:none;">
                                <input id="termsofservice" type="checkbox" name="termsofservice" checked />
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                                @if (Model.TermsOfServicePopup)
                                {
                                    <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                    <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms').on('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <a class="read" id="read-terms" href="@Url.RouteUrl(" Topic", new {SeName=Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                                }
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function () {
                                        $('#checkout').on('click', function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                if (orderSettings.CheckoutDisabled)
                                {
                                    <div class="checkout-disabled">
                                        @T("Checkout.Disabled")
                                    </div>
                                }
                                else
                                {
                                    <div class="li-proceed-to-checkout-btn">
                                        <input type="submit" value="Proceed to Checkout" id="checkout" name="checkout" class="button-1 checkout-button" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    }
                </div>
            </div>



            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync("CrossSellProducts")
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentAfter })
</div>
<script asp-location="Footer">
                                    $(document).ready(function () {
                                        $(".remove-from-cart-button").click(function (e) {
                                            e.preventDefault();
                                            var $this = $(this);
                                            var $product = $("input[type='checkbox']", $this.parent());
                                            $product.attr("checked", "checked");
                                            $(".update-cart-button").click();
                                        });
                                    });
</script>