﻿@{
    Layout = "_ColumnsOneForHome";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">

        <div id="home-banner-container">
            @await Component.InvokeAsync("HomepageProducts")
        </div>


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        <div class="home-category-container">
            @await Component.InvokeAsync("HomepageCategories")
        </div>

        <!-- Begin Featured Product Section -->
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })

        <div id="home-product-container">
            @await Component.InvokeAsync("HomepageProducts")
        </div>


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")




        <!-- Testimal section -->
        <div class="container">
            <div class="col-lg-12 text-center " id="featured-p hid-on-media">
                <div class="line-star"></div>

                <img src="~/Themes/RothLayout/Content/images/gold_stars_five_golden_rating_isolated.jpg" class="img-fluid" />
                <p>
                    "5 Stars, You made shopping so simple, Product came as described delivery was super-fast and your
                    customer service was
                    excellent. Thanks, guys!"<br />
                    <strong>Paul.W</strong>
                </p>
                <div class="line-star"></div>
            </div>
        </div>
        <!-- End Testimal section -->
        <!-- Begin Shop By Categories Section -->

        <div class="home-subcategory-container">
            <div class="container category-grid home-page-category-grid">
                <div class="text-center" id="featured-p">
                    <h2>SHOP BY CATEGORY</h2>
                    <label style="border: 2px solid #880b8d; width: 50px"></label>
                    <p>
                        Our featured products are so beautiful to see that the shoppers are easily <br /> attracted to them
                    </p>
                </div>

                <div class="row item-grid">
                    @await Component.InvokeAsync("HomepageCategories")
                </div>
            </div>

        </div>

        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })*@
    </div>
</div>
