﻿@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("PageTitle.PageNotFound")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "PageNotFound" })
        </div>
    </div>
</div>
