﻿@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    Html.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page store-closed-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("StoreClosed")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            @T("StoreClosed.Hint")
        </div>
    </div>
</div>
