﻿@model SocialModel
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook">
            <a href="@Model.FacebookLink" target="_blank" data-toggle="tooltip" title="Facebook">
                @*@T("Footer.FollowUs.Facebook")*@
                <i class="fa fa-facebook"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter">
            <a href="@Model.TwitterLink" target="_blank" data-toggle="tooltip" title="Facebook">
                @*@T("Footer.FollowUs.Twitter")*@
                <i class="fa fa-twitter"></i>
            </a>
        </li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss">
            <a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" data-toggle="tooltip" title="Facebook">
                @*@T("Footer.FollowUs.RSS")*@
                <i class="fa fa-rss"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube">
            <a href="@Model.YoutubeLink" target="_blank" data-toggle="tooltip" title="Facebook">
                @*@T("Footer.FollowUs.Youtube")*@
                <i class="fa fa-youtube"></i>
            </a>
        </li>
    }
