﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <section class="product-grid home-page-product-grid section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px title">
                <p>@T("Homepage.Products") Item in the market</p>
                <h2><span class="section-intro__style">@T("Homepage.Products")</span></h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="item-box col-md-6 col-lg-4 col-xl-3">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
    </section>
}