﻿@model AccountActivationModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Account.AccountActivation")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            <div class="result">
                @Model.Result
            </div>
        </div>
    </div>
</div>