﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="container home-page-product-grid bestsellers">
        <div class="text-center" id="featured-p">
            <h2 class="title">@T("Bestsellers")</h2>
            <label style="border: 2px solid #880b8d; width: 50px"></label>
            <p>
                Our featured products are so beautiful to see that the shoppers are easily <br /> attracted to them
            </p>
        </div>
        <div class="row item-grid">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                </div>
            }
        </div>
    </div>

    @*<div class="product-grid bestsellers">
        <div class="title">
            <strong>@T("Bestsellers")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>*@
}