﻿@model CustomerNavigationModel
<div class="space10"></div>
<div class="block block-account-navigation sidebar-categores-box mt-sm-30 mt-xs-30">
    <div class="title sidebar-title">
        <h2>@T("Account.Navigation")</h2>
    </div>
    <div class="listbox category-sub-menu">
        <ul class="list">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
        </ul>
    </div>
</div>
