﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <div class="text-center">
            <h2 class="title">@T("ShoppingCart.CrossSells")</h2>
            <label style="border: 2px solid #880b8d; width: 50px"></label>
        </div>
        <div class="row item-grid">
            @foreach (var product in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", product)
                    </div>
                </div>
            }
        </div>
    </div>
}