﻿@model BlogPostListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
    //page class
    Html.AppendPageCssClassParts("html-blog-page");
}
@section left {
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBlogBefore })
    @await Component.InvokeAsync("BlogMonths")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterBlogArchive })
    @await Component.InvokeAsync("BlogTags")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBlogAfter })
}
<div class="page blog-page">
    @section pageTitle
        {
        <div class="page-title">

            <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("Blog.RSS.Hint")">@T("Blog.RSS")</a>
            <h1>
                @if (string.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
                {
                    if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                    {
                        @string.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                    }
                    else
                    {
                        @T("Blog")
                    }
                }
                else
                {
                    @string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
                }
            </h1>
        </div>
    }
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePosts })
        <div class="blog-posts">
            @foreach (var item in Model.BlogPosts)
            {
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePost, additionalData = item })
            <div class="post card card-blog">
                <h4 class="post-head card-blog__title">
                    <a class="post-title news-title" href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})">@item.Title</a>
                </h4>
                <span class="post-date">-@item.CreatedOn.ToString("D")</span>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePostBody, additionalData = item })
                <div class="post-body">
                    @Html.Raw(!string.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPostBody, additionalData = item })
                <div class="blog-details">
                    @if (item.Tags.Count > 0)
                    {
                        <div class="tags">
                            <label>@T("Blog.Tags"):</label>
                            <ul>
                                @for (var i = 0; i < item.Tags.Count; i++)
                                {
                                    var tag = item.Tags[i];
                                    <li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})">@tag</a></li>
                                    if (i != item.Tags.Count - 1)
                                    {
                                        <li class="separator">,</li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    <div class="buttons">
                        @if (item.AllowComments)
                        {
                            <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})#comments" class="read-comments">@string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)</a>
                        }
                    <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})" class="read-more card-blog__link">
                        @T("Blog.MoreInfo")
                        <i class="ti-arrow-right"></i>
                    </a>
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageInsidePost, additionalData = item })
            </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPost, additionalData = item })
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPosts })
    </div>
</div>
