﻿@model ManufacturerNavigationModel
@if (Model.Manufacturers.Count > 0)
{
    <div class="block block-manufacturer-navigation sidebar-filter">
        <div class="title top-filter-head">
            <strong>@T("Manufacturers")</strong>
        </div>
        <div class="listbox common-filter">
            <ul class="list">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="filter-list @(manufacturer.IsActive ? "active" : "inactive")"><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="filter-list view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}