﻿@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="container category-grid home-page-category-grid">
        <div class="row item-grid">
            @foreach (var item in Model)
            {
                if (item.MetaKeywords != null)
                {
                    if (!item.MetaKeywords.Contains("subcategory"))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-category">
                            <div class="item-box">
                                <div class="category-item box-home">
                                    <div class="picture">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                        </a>
                                    </div>
                                    <h2 class="title">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                            @item.Name
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 col-sm-6 home-subcategory">
                            <div class="shop-grid">
                                <div class="shop-image">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                        <span class="shop-label-cate">New Collection<br><strong>@item.Name</strong></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-category">
                        <div class="item-box">
                            <div class="category-item box-home">
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                    </a>
                                </div>
                                <h2 class="title">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}



    @*@model IList<CategoryModel>
        @if (Model.Count > 0)
        {
            <div class="container category-grid home-page-category-grid">
                <div class="row item-grid">
        foreach (var item in Model)
        {
            if (item.MetaKeywords != null)
            {
                if (!item.MetaKeywords.Contains("subcategory"))
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="item-box">
                            <div class="category-item box-home">
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                    </a>
                                </div>
                                <h2 class="title">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="item-box">
                        <div class="category-item box-home">
                            <div class="picture">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                            <h2 class="title">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    @item.Name
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            }
            </div>
                </div>

        }*@
