﻿@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-body">
        <div class="text-center">
            <h2>@T("PageTitle.ContactUs")</h2>
            <label style="border: 2px solid #880b8d; width: 50px"></label>
            <p>
                @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
            </p>
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="ContactUs" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="row form-fields">
                        <div class="col-lg-6 col-md-12">
                        <div class="form-group inputs">
                            @*<label asp-for="FullName" asp-postfix=":"></label>*@
                            <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                            <nop-required />
                            <span asp-validation-for="FullName"></span>
                        </div>
                        <div class="form-group inputs">
                            @*<label asp-for="Email" asp-postfix=":"></label>*@
                            <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        @*@if (Model.SubjectEnabled)
                        {*@
                            <div class="form-group inputs">
                                @*<label asp-for="Subject" asp-postfix=":"></label>*@
                                <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                <nop-required />
                                <span asp-validation-for="Subject"></span>
                            </div>
                        @*}*@
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group inputs">
                                @*<label asp-for="Enquiry" asp-postfix=":"></label>*@
                                <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                <nop-required />
                                <span asp-validation-for="Enquiry"></span>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="form-group captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="space20"></div>
                <div class="col-lg-2 m-auto buttons">
                    <input type="submit" name="send-email" class="btn btn-primary button-1 contact-us-button" value="Send Message" />
                </div>
            </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
    </div>
</div>
