﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="also-purchased-products-grid product-grid">
        <div class="text-center">
            <h2 class="title">@T("Products.AlsoPurchased")</h2>
            <label style="border: 2px solid #880b8d; width: 50px"></label>
        </div>
        <div class="row item-grid">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="item-box">@await Html.PartialAsync("_ProductBox", item)</div>
                </div>
            }
        </div>
    </div>
}