﻿@model VendorNavigationModel
@if (Model.Vendors.Count > 0)
{
    <div class="space10"></div>
    <div class="block block-vendor-navigation sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="title sidebar-title">
            <h2>@T("Vendors")</h2>
        </div>
        <div class="listbox category-sub-menu">
            <ul class="list">
                @foreach (var vendor in Model.Vendors)
                {
                    <li><a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                    </li>
                }
            </ul>            
            @if (Model.TotalVendors > Model.Vendors.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}