﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div id="home-product-inner-container" class="container home-page-product-grid">
        <div class="text-center" id="featured-p">
            <h2 class="title">@T("Homepage.Products")</h2>
            <label style="border: 2px solid #880b8d; width: 50px"></label>
            <p>
                Our featured products are so beautiful to see that the shoppers are easily <br /> attracted to them
            </p>
        </div>
        <div class="row item-grid">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.Count > 0)
{
    var index = 0;
    var index2 = 0;
    var isActive = "active";
    var isActive2 = "active";
    <!-- BEGIN Slider -->
    <div id="BannerSlider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var item in Model)
            {
                <li data-target="#BannerSlider" data-slide-to="0" class="@isActive"></li>
                index++;
                isActive = "";
                if (index == 3)
                {
                    break;

                }
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                <div class="carousel-item @isActive2">
                    <div class="mask flex-center">
                        <div class="container">
                            @await Html.PartialAsync("_HomePageBannerBox", item)
                        </div>
                    </div>
                </div>
                isActive2 = "";
                index2++;
                if (index2 == 3)
                {
                    break;

                }
            }
        </div>
        <a class="carousel-control-prev" href="#BannerSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#BannerSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}