﻿@{
    Layout = "_ColumnsOneFluid";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })*@
        @await Html.PartialAsync("_HomePageTopBanner")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        @await Html.PartialAsync("_SpecialOfferBanner")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        <section class="section-homepagetext">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
                    </div>
                    <div class="col-sm-4">
                        @await Component.InvokeAsync("HomepagePolls")
                    </div>
                </div>
            </div>
        </section>*@
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>
