﻿@model VendorNavigationModel
@if (Model.Vendors.Count > 0)
{
    <div class="block block-vendor-navigation sidebar-filter">
        <div class="title top-filter-head">
            <strong>@T("Vendors")</strong>
        </div>
        <div class="listbox common-filter">
            <ul class="list">
                @foreach (var vendor in Model.Vendors)
                {
                    <li class="filter-list">
                        <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalVendors > Model.Vendors.Count)
            {
                <div class="filter-list view-all">
                    <a href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}