.btn-primary{
    color: #FFF;
    padding: 10px 32px;
    display: inline-block;
    background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
    border: 0px solid #e1e1e1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 800;
}
