#BannerSlider{position:relative; z-index:1; background: url(../../images/banner/1.jpg) center center no-repeat; background-size:cover; }
.carousel_caption h1 {
  color: #880b8d;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 40px;
}
.slider_caption h2 {
  color: #4d4d4d;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
}
.carousel_caption p {
  color: #4d4d4d;
  font-family: Lato;
  font-size: 13px;
}
.carousel_caption a {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.carousel-indicators .active {
    background-color: #880b8d;
}
.carousel-indicators li {
    background-color: #4d4d4d;
}

.carousel-item a{background:#880b8d; font-size:14px; color:#FFF; padding:10px 32px; display:inline-block; 
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 800;
  box-shadow: 0px 7px 7px -5px rgba(0,0,0,0.75);
}

.carousel-item a:hover{background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  padding:10px 32px;
  border-radius: 5px;}

.carousel-item h2{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
.carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight; font-family: 'Lato'; font-size: 13px;} 
.carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#BannerSlider h2, #BannerSlider p, #BannerSlider a, #BannerSlider .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-control-next, .carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: #880b8d;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
