﻿@model HomepageNewsItemsModel
@if (Model.NewsItems.Count > 0)
{
    <section class="blog news-list-homepage">
        <div class="container">
            <div class="title title section-intro pb-60px">
                <p>Latest @T("News") Item in the market</p>
                <h2><span class="section-intro__style">@T("News")</span></h2>
            </div>
            <div class="news-items row">
                @foreach (var item in Model.NewsItems)
                {
                    <div class="news-item col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card card-blog">
                            <div class="card-blog__img">
                                <img class="card-img rounded-0" src="~/Themes/Aroma/Content/img/blog/blog1.png" alt="">
                            </div>
                            <div class="card-body">
                                <ul class="card-blog__info">
                                    <li><a href="#">@item.CreatedOn.ToString("D")</a></li>
                                    <li><a href="#"><i class="ti-comments-smiley"></i>@item.NumberOfComments Comments</a></li>
                                </ul>
                                <h4 class="card-blog__title">
                                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                                </h4>
                                <p>@Html.Raw(item.Short)</p>                               
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more card-blog__link">@T("News.MoreInfo")<i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        @*<div class="news-head">
                            <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                            <span class="news-date">-@item.CreatedOn.ToString("D")</span>
                        </div>
                        <div class="news-body">
                            @Html.Raw(item.Short)
                        </div>
                        <div class="buttons">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                        </div>*@
                    </div>
                }
            </div>
            <div class="view-all">
                <a class="button button-subscribe mr-auto mb-1" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
            </div>
        </div>

    </section>

}