/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------> Media: Working On Devices <-----------------------------*/
/*----------------------------------------------------------------------------------------------------*/
@media (min-width: 414px) {  
  .slider-content{
      width: 390px;
    }
  .hid-on-media{
    display: none;
  }	
  .mobile-menu-area .mobile-menu .mean-bar .meanmenu-reveal{
    position: absolute;
      top: -43px;
      left: 0 !important;
      right: -12px !important;
      
  }
  .mobile-menu {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 100% !important;
      flex: 1 0 100% !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .hm-searchbox{
    width: 92%
  }
  }
  @media (min-width: 576px) {  
  .slider-content{
      width: 540px;
    }
  .hid-on-media{
    display: none;
  }	
  .mobile-menu-area .mobile-menu .mean-bar .meanmenu-reveal{
    position: absolute;
      top: -43px;
      left: 0 !important;
      right: -12px !important;
      
  }
  .mobile-menu {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 100% !important;
      flex: 1 0 100% !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .hm-searchbox{
    width: 92%
  }
  }
  
  @media (min-width: 768px) { 
    .slider-content{
      width: 720px;
    }
    .hid-on-media{
    display: block;
    }
    
   }
  
  @media (min-width: 992px) { 
    .slider-content{
      width: 960px;
    }
   }

  
  @media (min-width: 1200px) { 
      .slider-content{
      width: 1140px;
    }
   }
  
   @media (min-width: 1501px) { 
      .slider-content{
      width: 1170px;
    }
    .hid-on-media{
    display: block;
    }	
   }