﻿@model ShoppingCartModel.GiftCardBoxModel
@if (Model.Display)
{
    <ul class="giftcard-box">
        <li class="li-discount-title title">
            @T("ShoppingCart.GiftCardCouponCode")
        </li>
        <li class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</li>
        <li class="shopping-cart-coupon coupon-code">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" aria-label="@T("ShoppingCart.GiftCardCouponCode.Label")" />
        </li>
        <li class="li-apply-coupon-btn">
            <input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode"
                   value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />
        </li>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <li class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </li>
        }
    </ul>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#giftcardcouponcode').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').trigger("click");
                    return false;
                }
            });
        });
    </script>
}