﻿@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}
<div class="page shopping-cart-page">
    @*<div class="page-title">
            <h1>@T("ShoppingCart")</h1>
        </div>*@
    <div class="page-body">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-2">
                <div class=" mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>@T("ShoppingCart")</h2>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-12 ml-auto">
                        <p class="p-shopping-cart-notification">
                            Accusantium Dolorem1 has been added to your
                            shopping cart.
                        </p>
                    </div>
                </div>*@
                @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
                <div class="space50"></div>
            </div>

            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->

                <div class=" mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Customer Care</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li>
                                <a href="/contactus">Contact Us</a>

                            </li>
                            <li>
                                <a href="/order/history">Order Status</a>

                            </li>
                            <li>
                                <a href="/">Shopping</a>

                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <br />
                <img src="~/Themes/RothLayout/Content/images/payment/paypal.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
