﻿@model ShoppingCartModel.DiscountBoxModel
@if (Model.Display)
{
    <ul class="coupon-box">
        <li class="li-discount-title title">
            @T("ShoppingCart.DiscountCouponCode")
        </li>
        <li class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")
        </li>
        <li class="shopping-cart-coupon coupon-code">
            <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" aria-label="@T("ShoppingCart.DiscountCouponCode.Label")" />
        </li>
        <li class="li-apply-coupon-btn">
            <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                   value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />

        </li>
        @foreach (var message in Model.Messages)
        {
            <li class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @message
            </li>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {
            <li class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
            </li>
        }
    </ul>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('#discountcouponcode').on('keydown', function (event) {
                    if (event.keyCode == 13) {
                        $('#applydiscountcouponcode').trigger("click");
                        return false;
                    }
                });
            });
        </script>
}