﻿@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper
<div class="row">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
    <!-- Begin Header Top Left Area -->
    <div class="col-lg-3 col-md-4">
        <div class="header-top-left">
            <ul class="so-icon-wrap socialMediaLinks">
                @await Component.InvokeAsync("SocialButtons")
            </ul>
        </div>
    </div>
    <!-- Header Top Left Area End Here -->
    <!-- Begin Header Top Right Area -->
    <div class="col-lg-9 col-md-8">
        <div class="row">
            <div class="col-lg-8">
                <div class="header-top-right">
                    <ul class="ht-menu">
                        <!-- Begin Setting Area -->
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <!-- Setting Area End Here -->
                        <!-- Begin Currency Area -->
                        <li>
                            <a href="/wishlist">Wishlist</a>
                        </li>
                        <!-- Currency Area End Here -->
                        <!-- Begin Language Area -->
                        <li>
                            <a href="/contactus">Contact Us</a>
                        </li>
                        <!-- Language Area End Here -->
                        @if (Model.IsAuthenticated)
                        {
                            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
                        }
                        else
                        {
                            var returnUrl = webHelper.GetRawUrl(Context.Request);
                            <li><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">@T("Account.Login")</a></li>
                        }
                        @*<li>
                                <a href="#" data-toggle="modal" data-target="#modalLRForm">Login</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 d-sm-none d-none d-md-none d-lg-block">
                <div class="roth-topbar-cart">
                    <div class="check-out-cart">
                        <span class="item-icon"></span>
                        <a class="link-cart" href="/cart">
                            <span>My cart</span>
                            <span class="item-text">
                                (@Model.ShoppingCartItems Items)
                            </span>
                        </a>
                        <a href="/onepagecheckout" class="btn-checkout">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
    <!-- Header Top Right Area End Here -->
</div>

@*<div class="header-links">
        <ul>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
            @if (Model.IsAuthenticated)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")@Model.CustomerName</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            }
            else
            {
                var returnUrl = webHelper.GetRawUrl(Context.Request);

                <li><a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register">@T("Account.Register")</a></li>
                <li><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">@T("Account.Login")</a></li>
            }
            @if (Model.AllowPrivateMessages)
            {
                <li>
                    <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                        <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                        <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                    </a>
                </li>
            }
            @if (Model.WishlistEnabled)
            {
                <li>
                    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                        <span class="wishlist-label">@T("Wishlist")</span>
                        <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                    </a>
                </li>
            }
            @if (Model.ShoppingCartEnabled)
            {
                <li id="topcartlink">
                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <span class="cart-label">@T("ShoppingCart")</span>
                        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                    </a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
        </ul>
        @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
        {
            <script asp-location="Footer">
                $(document).ready(function () {
                    displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
                });
            </script>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('.header').on('mouseenter', '#topcartlink', function () {
                        $('#flyout-cart').addClass('active');
                    });
                    $('.header').on('mouseleave', '#topcartlink', function () {
                        $('#flyout-cart').removeClass('active');
                    });
                    $('.header').on('mouseenter', '#flyout-cart', function () {
                        $('#flyout-cart').addClass('active');
                    });
                    $('.header').on('mouseleave', '#flyout-cart', function () {
                        $('#flyout-cart').removeClass('active');
                    });
                });
            </script>
        }
    </div>*@
