﻿@model PollModel
<div class="space10"></div>
<div class="block block-poll sidebar-categores-box mt-sm-30 mt-xs-30">
    <div class="title sidebar-title">
        <h2>@T("Polls.Title")</h2>
    </div>
    <div class="listbox category-sub-menu">
        @await Html.PartialAsync("_Poll", Model)
    </div>
</div>
