﻿@model PopularProductTagsModel
@if (Model.Tags.Count > 0)
{
    <div class="space10"></div>
    <div class="block block-popular-tags sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="title sidebar-title">
            <h2>@T("Products.Tags.Popular")</h2>
        </div>
        <div class="listbox category-sub-menu">
            <div class="tags">
                <ul>
                    @foreach (var item in Model.Tags)
                    {
                        <li><a href="@Url.RouteUrl("ProductsByTag", new { item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a></li>
                    }
                </ul>
            </div>
            @if (Model.TotalTags > Model.Tags.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}