﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="space10"></div>
    <div class="block block-recently-viewed-products sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="title sidebar-title">
            <h2>@T("Products.RecentlyViewedProducts")</h2>
        </div>
        <div class="listbox category-sub-menu">
            <ul class="list">
                @for (var i = 0; i < Model.Count; i++)
                {
                    var product = Model[i];
                    <li @(i == Model.Count - 1 ? @Html.Raw(" class=\"last\"") : null)>
                        @if (!string.IsNullOrEmpty(product.DefaultPictureModel.ImageUrl))
                        {
                            <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                                <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                            </a>
                        }
                        <a class="product-name" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}