@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
    <section class="blog-banner-area">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbBefore, additionalData = Model })
                            <li class="breadcrumb-item">
                                <span>
                                    <a href="@Url.RouteUrl("Homepage")">
                                        <span>@T("Products.Breadcrumb.Top")</span>
                                    </a>
                                </span>
                                @*<span class="delimiter">@breadcrumbDelimiter</span>*@
                            </li>
                            @{ int position = 1; }
                            @foreach (var category in Model.CategoryBreadcrumb)
                            {
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="item">
                                        <span itemprop="name">@category.Name</span>
                                    </a>
                                    @*<span class="delimiter">@breadcrumbDelimiter</span>*@
                                    <meta itemprop="position" content="@position" />
                                </li>
                                position++;
                            }

                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <strong class="current-item" itemprop="name">@Model.ProductName</strong>
                                <span itemprop="item" itemscope itemtype="http://schema.org/Thing"
                                      id="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">
                                </span>
                                <meta itemprop="position" content="@position" />
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}
