﻿@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-added-products-page");
}
<div class="page recently-added-products-page">
    @section pageTitle
    {
        <div class="page-title">
            <a href="@Url.RouteUrl("NewProductsRSS")" class="link-rss" title="@T("Products.NewProducts.RSS.Hint")">@T("Products.NewProducts.RSS")</a>
            <h1>@T("Products.NewProducts")</h1>
        </div>
    }
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                <div class="item-grid row">
                    @foreach (var product in Model)
                    {
                        <div class="item-box col-md-6 col-lg-4 col-xl-4">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
