﻿@model ProductReviewsModel

@using Nop.Core

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-product-reviews-page");
}
<div class="page product-reviews-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageTop, additionalData = Model })
            @if (Model.AddProductReview.SuccessfullyAdded)
            {
                <div class="result">
                    @Model.AddProductReview.Result
                </div>
            }
            else
            {
                <div class="login_box_area">
                    <div class="customer-blocks row">
                        <div class="col-lg-6">
                            <div class="login_box_img">
                                <div class="hover">
                                    <h4>Are you new to our website?</h4>
                                    <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                                    <a class="button button-account" href="/register">Create an Account</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 returning-wrapper fieldset">
                            <div id="review-form" class="image_box_inner write-review">
                                <div class="hover">
                                    <div class="title">
                                        <h3>@T("Reviews.Write")</h3>
                                    </div>
                                    <form asp-route="ProductReviews" method="post" class="image_form">
                                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                        <div class="fieldset">
                                            <div class="form-fields">
                                                <div class="inputs form-group">
                                                    @*<label asp-for="AddProductReview.Title" asp-postfix=":"></label>*@
                                                    <input asp-for="AddProductReview.Title" class="form-control review-title" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)" placeholder="Review Title" />
                                                    <nop-required />
                                                    <span asp-validation-for="AddProductReview.Title"></span>
                                                </div>
                                                <div class="inputs form-group">
                                                    @*<label asp-for="AddProductReview.ReviewText" asp-postfix=":"></label>*@
                                                    <textarea asp-for="AddProductReview.ReviewText" class="form-control review-text" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)" placeholder="Review Text"></textarea>
                                                    <nop-required />
                                                    <span asp-validation-for="AddProductReview.ReviewText"></span>
                                                </div>
                                                <div class="review-rating form-group">
                                                    @*<div class="name-description">
                                                            <label asp-for="AddProductReview.Rating" asp-postfix=":"></label>
                                                        </div>*@
                                                    <div class="rating-wrapper">
                                                        <div class="label first">@T("Reviews.Fields.Rating.Bad")</div>
                                                        <div class="rating-options">
                                                            <input class="pixel-radio" asp-for="AddProductReview.Rating" value="1" type="radio" id="addproductrating_1" aria-label="@T("Reviews.Fields.Rating.Bad")" />
                                                            <label for="addproductrating_1"></label>
                                                            <input class="pixel-radio" asp-for="AddProductReview.Rating" value="2" type="radio" id="addproductrating_2" aria-label="@T("Reviews.Fields.Rating.NotGood")" />
                                                            <label for="addproductrating_2"></label>
                                                            <input class="pixel-radio" asp-for="AddProductReview.Rating" value="3" type="radio" id="addproductrating_3" aria-label="@T("Reviews.Fields.Rating.NotBadNotExcellent")" />
                                                            <label for="addproductrating_3"></label>
                                                            <input class="pixel-radio" asp-for="AddProductReview.Rating" value="4" type="radio" id="addproductrating_4" aria-label="@T("Reviews.Fields.Rating.Good")" />
                                                            <label for="addproductrating_4"></label>
                                                            <input class="pixel-radio" asp-for="AddProductReview.Rating" value="5" type="radio" id="addproductrating_5" aria-label="@T("Reviews.Fields.Rating.Excellent")" />
                                                            <label for="addproductrating_5"></label>
                                                        </div>
                                                        <div class="label last">@T("Reviews.Fields.Rating.Excellent")</div>
                                                    </div>
                                                </div>
                                                @if (Model.ReviewTypeList.Count > 0)
                                                {

                                                    foreach (var additionalReview in Model.AddAdditionalProductReviewList.OrderBy(ob => ob.DisplayOrder).ToList())
                                                    {
                                                        var curAdditionalReview = Model.AddAdditionalProductReviewList.IndexOf(additionalReview);
                                                        <div class="review-rating">
                                                            <div class="name-description">
                                                                <div class="tooltip">
                                                                    <label>@Html.Raw(additionalReview.Name):</label>
                                                                    <span class="tooltiptext">@Html.Raw(additionalReview.Description)</span>
                                                                </div>
                                                            </div>
                                                            <div class="rating-wrapper">
                                                                <div class="label first">@T("Reviews.Fields.Rating.Bad")</div>
                                                                <div class="rating-options">
                                                                    <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].ReviewTypeId" value="@(additionalReview.ReviewTypeId)" type="hidden" />
                                                                    <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Name" value="@(additionalReview.Name)" type="hidden" />
                                                                    <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Description" value="@(additionalReview.Description)" type="hidden" />
                                                                    <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].DisplayOrder" value="@(additionalReview.DisplayOrder)" type="hidden" />
                                                                    <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].IsRequired" value="@(additionalReview.IsRequired)" type="hidden" />

                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="0" type="radio" id="addproductratingext_0_@(additionalReview.ReviewTypeId)" style="display: none;" />
                                                                    <label for="addproductratingext_0_@(additionalReview.ReviewTypeId)"></label>
                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="1" type="radio" id="addproductratingext_1_@(additionalReview.ReviewTypeId)" />
                                                                    <label for="addproductratingext_1_@(additionalReview.ReviewTypeId)"></label>
                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="2" type="radio" id="addproductratingext_2_@(additionalReview.ReviewTypeId)" />
                                                                    <label for="addproductratingext_2_@(additionalReview.ReviewTypeId)"></label>
                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="3" type="radio" id="addproductratingext_3_@(additionalReview.ReviewTypeId)" />
                                                                    <label for="addproductratingext_3_@(additionalReview.ReviewTypeId)"></label>
                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="4" type="radio" id="addproductratingext_4_@(additionalReview.ReviewTypeId)" />
                                                                    <label for="addproductratingext_4_@(additionalReview.ReviewTypeId)"></label>
                                                                    <input class="pixel-radio" asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="5" type="radio" id="addproductratingext_5_@(additionalReview.ReviewTypeId)" />
                                                                    <label for="addproductratingext_5_@(additionalReview.ReviewTypeId)"></label>
                                                                </div>
                                                                <div class="label last">@T("Reviews.Fields.Rating.Excellent")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                @if (Model.AddProductReview.DisplayCaptcha)
                                                {
                                                    <div class="captcha-box">
                                                        <nop-captcha />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <input type="submit" name="add-review" class="button button-login w-100 button-1 write-product-review-button" value="@T("Reviews.SubmitButton")" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
            @if (Model.Items.Count > 0)
            {
                <div class="product-review-list">
                    <div class="title pt-5 pb-2">
                        <h3>@T("Reviews.ExistingReviews")</h3>
                    </div>
                    <div class="comment_list">
                        @foreach (var review in Model.Items)
                        {
                            var ratingPercent = review.Rating * 20;
                            <div class="review_item product-review-item">
                                <div class="media">
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <img src="~/Themes/Aroma/Content/images/avatar.png" />
                                        </div>
                                    </div>
                                    <div class="media-body review-item-head">
                                        <div class="review-title">
                                            <h4>@review.Title</h4>
                                            <h5 class="date">
                                                @*<label>@T("Reviews.Date"):</label>*@
                                                <span>@review.WrittenOnStr</span>
                                            </h5>
                                        </div>
                                        <div class="product-review-box">
                                            <div class="rating">
                                                <div style="width: @(ratingPercent)%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-info">
                                            <span class="user">
                                                @*<label>@T("Reviews.From"):</label>*@
                                                @if (review.AllowViewingProfiles)
                                                {
                                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                                                }
                                                else
                                                {
                                                    @review.CustomerName
                                                }
                                            </span>
                                            @*<span class="separator">|</span>*@
                                        </div>
                                        @await Html.PartialAsync("_ProductReviewHelpfulness", review.Helpfulness)
                                    </div>
                                </div>
                                <div class="review-content">
                                    <div class="review-text">
                                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                    </div>
                                    @foreach (var reviewType in review.AdditionalProductReviewList.Where(x => x.Rating > 0 && x.VisibleToAllCustomers))
                                    {
                                        var ratingExtPercent = reviewType.Rating * 20;
                                        <div class="review-type-rating-ext">
                                            <div class="review-title">
                                                <i>@reviewType.Name</i>
                                            </div>
                                            <div class="product-review-box">
                                                <div class="rating">
                                                    <div style="width: @(ratingExtPercent)%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                   
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageInsideReview, additionalData = review })
                                    @if (!string.IsNullOrEmpty(review.ReplyText))
                                    {
                                        <div class="reply">
                                            <div class="reply-header">
                                                @T("Reviews.Reply")
                                            </div>
                                            <div class="reply-text">
                                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageBottom, additionalData = Model })
        </div>
    </div>
</div>