﻿@model ProductEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.ProductName);
    //page class
    Html.AddTitleParts(T("PageTitle.ProductEmailAFriend").Text);
    Html.AppendPageCssClassParts("html-email-a-friend-page");
}
<div class="page email-a-friend-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Products.EmailAFriend.Title")</h1>
        </div>
    </div>
    <div class="page-body">
        <section class="image_box_area section-margin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box_img">
                            <div class="hover">
                                <h4>Are you new to our website?</h4>
                                <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                                <a class="button button-account" href="/register">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image_box_inner">
                            <div class="hover">
                                <h3>
                                    <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="product">@Model.ProductName</a>
                                </h3>
                                @if (Model.SuccessfullySent)
                                {
                                    <div class="result">
                                        @Model.Result
                                    </div>
                                }
                                else
                                {
                                    <form class="row image_form" asp-route="ProductEmailAFriend" method="post">
                                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                        <div class="col-md-12 fieldset">
                                            <div class="row form-fields">
                                                <div class="col-md-12 form-group inputs">
                                                    @*<label asp-for="FriendEmail" asp-postfix=":"></label>*@
                                                    <input asp-for="FriendEmail" class="form-control friend-email" placeholder="@T("Products.EmailAFriend.FriendEmail.Hint")" />
                                                    <nop-required />
                                                    <span asp-validation-for="FriendEmail"></span>
                                                </div>
                                                <div class="col-md-12 form-group inputs">
                                                    @*<label asp-for="YourEmailAddress" asp-postfix=":"></label>*@
                                                    <input asp-for="YourEmailAddress" class="form-control your-email" placeholder="@T("Products.EmailAFriend.YourEmailAddress.Hint")" />
                                                    <nop-required />
                                                    <span asp-validation-for="YourEmailAddress"></span>
                                                </div>
                                                <div class="col-md-12 form-group inputs">
                                                    @*<label asp-for="PersonalMessage" asp-postfix=":"></label>*@
                                                    <textarea asp-for="PersonalMessage" class="form-control your-email" placeholder="@T("Products.EmailAFriend.PersonalMessage.Hint")"></textarea>
                                                    <nop-required />
                                                    <span asp-validation-for="PersonalMessage"></span>
                                                </div>
                                                @if (Model.DisplayCaptcha)
                                                {
                                                    <div class="col-md-12 form-group captcha-box">
                                                        <nop-captcha />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group buttons">
                                            <button type="submit" name="send-email" class="button button-image w-100 button-1 send-email-a-friend-button">
                                                @T("Products.EmailAFriend.Button")
                                            </button>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>