﻿@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="section-margin mt-0 category-grid home-page-category-grid">
        <div class="owl-carousel owl-theme hero-carousel item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item hero-carousel__slide">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                        <div class="title">
                            <a class="hero-carousel__slideOverlay" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <h3>@item.Name</h3>
                                <p>@item.Description</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}