@import url('Lato/stylesheet.css');
@import url('media/media.css');
@import url('new-css/css.css');
@import url('new-css/section-home.css');
@import url('new-css/responsive.css');
@import url('new-css/slider.css');
@import url('css/animat.css');
@import url('new-css/sidebar.css');
@import url('new-css/product-cate.css');

body {
  color: #4d4d4d;
  font-family: 'Lato',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', serif;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.hm-searchbox {
  display: flex;
  position: relative;
  background: #fff;
  border-radius: 5px;
  border: 6px solid #e1e1e1;
  height: 56px;
  float: left;
  margin-top: 1px;
  margin-left: 16px;
}

.hm-searchbox {
  width: 92%;
}

  .hm-searchbox .nice-select.select-search-category {
    width: auto;
    line-height: 43px;
    height: 43px;
    margin: 0;
    border: 0;
    padding: 0 28px 0 25px;
    color: #242424;
    font-size: 13px;
    border-radius: 15px 0 0 15px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
  }

.select-search-category ul.list {
  height: 440px;
  overflow-y: auto;
  overscroll-behavior-x: none;
}

.hm-searchbox .current::after {
  content: "";
  position: absolute;
  display: block;
  height: 22px;
  width: 1px;
  background: #e1e1e1;
  top: 10px;
  right: -10px;
  font-size: 13px;
}

.hm-searchbox .nice-select.select-search-category::before {
  right: 30px;
  top: 25px;
  color: #7e7e7e;
}

.hm-searchbox input {
  font-size: 13px;
  color: #a5a5a5;
  height: 45px;
  background: transparent;
  border: none;
  width: 100%;
  padding: 0 47px 0 12px;
}

.header-top {
  background: #4d4d4d;
  padding: 5px 0;
  border-bottom: 1px solid #e1e1e1;
}

button.li-btn {
  border: none;
  background: #4d4d4d;
  color: #fff;
  font-size: 16px;
  width: 47px;
  border-radius: 0 2px 2px 0;
  height: 44px;
  line-height: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

  button.li-btn:hover {
    background: #880b8d;
    color: #ffffff;
  }

a.link {
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  line-height: 52px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 170px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 7px 7px -5px rgba(0,0,0,0.75);
}

  a.link:hover {
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    line-height: 52px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 170px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 7px 7px -5px rgba(0,0,0,0.75);
  }

a {
  text-decoration: none;
  font-family: 'Lato', serif;
}

  a:hover {
    text-decoration: none;
  }

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #898989;
  margin-bottom: 15px;
}
/* header section */
.roth-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.roth-header-logo {
  font-family: 'Lato', serif;
  font-size: 2.25rem;
}

  .roth-header-logo:hover {
    text-decoration: none;
  }

.display-4 {
  font-size: 2.5rem;
}

.roth-header-top {
  height: 35px;
  background: #4d4d4d;
  border-bottom: 1px solid #e1e1e1;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 44px;
  overflow-y: hidden;
  font-family: 'Lato';
}

.bg-nav {
  border-radius: 5px;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /*font-size: 0.875rem;*/
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

/* end header */

/*Home page start*/
#home-banner-container #home-product-inner-container,
#home-product-container #BannerSlider {
  display: none;
}
/*Home page end*/

/*Details Page start*/
.email-a-friend-button {
  height: 60px;
  font-size: 30px;
  max-width: 315px !important;
}
/*Details page end*/
/* veasna style */
/*btn css*/
.btn-primary {
  color: #FFF;
  padding: 7px 20px;
  display: inline-block;
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  font-family: 'Lato',sans-serif;
  border-radius: 5px;
  font-family: Lato;
  font-size: 16px;
}

  .btn-primary:hover {
    color: #FFF;
    padding: 7px 20px;
    display: inline-block;
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
    border: 0px solid #e1e1e1;
    transition: all 0.3s ease-in-out;
    font-family: 'Lato',sans-serif;
    border-radius: 5px;
    font-family: Lato;
    font-size: 16px;
  }

.line-star {
  display: inline-block;
  width: 80%;
  color: #880b8d;
}

a.btn-link-slide {
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  line-height: 52px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 170px;
  text-align: center;
  box-shadow: 0px 7px 7px -5px rgba(0,0,0,0.75);
}

  a.btn-link-slide:hover {
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
  }
/*end btn*/

/*box after banner section*/
.box-home {
  width: 100%;
  padding: 0px 0px 4px 0px;
  margin-top: 30px;
  box-shadow: 0px 9px 13px -13px rgba(0, 0, 0, 1);
}

  .box-home:hover {
    width: 100%;
    opacity: 0.8;
    padding: 0px 0px 4px 0px;
    margin-top: 30px;
    box-shadow: 0px 9px 13px -13px rgba(0, 0, 0, 1);
  }

  .box-home h2 {
    color: #4d4d4d;
    font-size: 20px;
    text-align: center;
    font-family: 'lato';
    line-height: 25px;
    padding: 16px 0px 0px 0px;
    font-weight: 600;
  }

/*end box*/

/* space with line section */
.space10 {
  height: 10px;
}

.space20 {
  height: 20px;
}

.space30 {
  height: 30px;
}

.space40 {
  height: 40px;
}

.space50 {
  height: 50px;
}
/*end space*/

/*separated line for star section*/

.line-star {
  color: darkgray;
  border: 2px solid #e1e1e1;
}

/*
 * roth name and description
 */


.roth-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.roth-description {
  font-size: 1.1rem;
  color: #999;
}

/* Pagination */
.roth-pagination {
  margin-bottom: 4rem;
}

  .roth-pagination > .btn {
    border-radius: 2rem;
  }

/*
 * roth posts
 */
.roth-post {
  margin-bottom: 4rem;
}

.roth-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.roth-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.roth-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

  .roth-footer p:last-child {
    margin-bottom: 0;
  }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-head li,
.nav-head li {
  padding: 5px 2px;
}

  .social-head li a .fa {
    border-radius: 50%;
    width: 25px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    font-size: 15px;
  }

    .social-head li a .fa.fa-facebook {
      color: #fff;
      background-color: #4875ef;
    }

  .social-head li a .fa-twitter {
    color: #ffffff;
    background-color: #73baff;
  }

  .social-head li a .fa-pinterest {
    color: #ffffff;
    background-color: #c51651;
  }

  .social-head li a .fa-instagram {
    color: #ffff;
    background-color: #4875ef;
  }

  .nav-head li a {
    border-right: 1px solid #eee;
    color: rgb(236, 236, 236);
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-head li:last-child a {
    border-right: none;
  }

.check-out-cart {
  border-radius: 0 0 10px 10px;
  background: #e6e6e9;
  color: #4d4d4d;
  height: 46px;
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.75);
  font-family: 'Lato';
  font-weight: 800;
  width: 100%;
}

  .check-out-cart .item-text {
    position: relative;
    line-height: 44px;
    font-weight: 800;
    padding-left: 0px;
  }

  .check-out-cart .fa-shopping-cart {
    font-size: 20px;
  }

.btn-checkout {
  float: right;
  font-family: 'Lato';
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  margin-top: 9px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
  margin-left: 5px;
}

#custom-search-input .input-group {
  display: flex;
  position: relative;
  background: #fff;
  border-radius: 5px;
  border: 6px solid #e1e1e1;
  padding: 0px;
  float: left;
}

#custom-search-input .input-group-btn .btn-danger {
  border-radius: 0px;
  background-color: #800882;
  border-color: #800882;
}

#custom-search-input .search-query {
  border: 0px;
}

  #custom-search-input .search-query:focus + button {
    z-index: 3;
  }

#nav-menu {
  margin-bottom: 30px;
  border-radius: 2px;
  background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
}

  #nav-menu nav li {
    text-align: center;
    width: 100%;
    line-height: 46px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  #nav-menu nav li {
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #fffefe30;
  }

    #nav-menu nav li:last-child {
      border-right: none;
    }

    #nav-menu nav li a {
      color: #e6e6e6 !important;
      text-decoration: none;
      display: unset;
    }

.bg-1,
.bg-2,
.bg-3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 550px;
  width: 100%;
}

.single-slide.align-center-left {
  align-items: center;
  display: flex;
}

.slider .owl-nav div.owl-prev,
.slider .owl-nav div.owl-next {
  color: #fff;
  font-size: 18px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: 39px;
  opacity: 0;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
}

.owl-item.active .animation-style-01 .slider-content h5,
.owl-item.active .animation-style-01 .slider-content-2 h5 {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
  animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
}

.slider-content > h5 {
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  max-width: 280px;
  margin-bottom: 10px;
}

  .slider-content > h5 > span {
    color: #e80f0f;
  }

.slider-content > h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  max-width: 310px;
  margin-bottom: 20px;
}

.slider-content > h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 64px;
}

  .slider-content > h3 > span {
    font-size: 30px;
    color: #e80f0f;
  }

@-webkit-keyframes timebar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes timebar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes timebar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
/*Top Up Keyframes*/
@-webkit-keyframes liSlideInUp {
  0% {
    -webkit-transform: translateY(250px);
    transform: translateY(250px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes liSlideInUp {
  0% {
    -webkit-transform: translateY(250px);
    transform: translateY(250px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.mb-5, .my-5 {
  margin-bottom: 1rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1rem !important;
}

.social-section {
  text-align: center;
  padding-top: 2px;
}

.mt-5, .my-5 {
  margin-top: 2rem !important;
}

#featured-p {
  margin-top: 30px;
}

.rating-star {
  padding: 0px;
}

  .rating-star li {
    display: inline-block;
  }

.product_desc .product_desc_info .rating-box {
  background: #fff;
  display: block;
  line-height: 1;
  padding-bottom: 0px;
  -webkit-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  overflow: hidden;
}

.align-text {
  text-align: right
}

.product-review {
  display: block;
  text-align: center;
}

.product_desc_info {
  position: relative;
  text-align: left;
}

.rating-box {
  text-align: left;
}

  .rating-box ul li i {
    font-size: 12px;
    color: #ffe033;
  }

  .rating-box ul li.no-star i {
    color: #e3e3e3;
  }

.product_desc .manufacturer a {
  color: #6c6c6c;
  font-size: 12px;
  margin-top: 9px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.product_desc .product_desc_info .product_name {
  color: #606060;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
  text-align: left;
}

.product_desc .product_desc_info .price-box {
  line-height: 1;
  margin-top: 16px;
}

.product_desc .product_desc_info .new-price,
.featured-price-box .new-price,
.featured-price-box .new-price-2 {
  color: #606060;
  font-size: 16px;
  font-weight: 800;
  padding-right: 10px;
}

.product_desc .product_desc_info .price-box .new-price-2,
.featured-price-box .new-price-2 {
  color: #e80f0f !important;
}

.product_desc .product_desc_info .old-price {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

.product_desc .product_desc_info .price-box .discount-percentage,
.featured-price-box .discount-percentage {
  float: right;
  color: #e80f0f;
}

.single-product-wrap:hover {
  margin: 0 0 -50px;
  padding: 0 0 50px;
  z-index: 9;
}

.single-product-wrap {
  background: #ffffff none repeat scroll 0 0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 300ms ease-in 0s;
}

  .single-product-wrap:hover:before {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    visibility: visible;
  }

  .single-product-wrap::before {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    bottom: -15px;
    content: '';
    left: -10px;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    position: absolute;
    right: -10px;
    top: -15px;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    visibility: hidden;
    z-index: 0;
  }

.product-image {
  position: relative;
}

.single-product-wrap:hover .add-actions {
  bottom: 0;
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.add-actions {
  bottom: -15px;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  position: absolute;
  right: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

  .thumbnail img {
    transition: transform 0.3s;
  }

  .thumbnail h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    background: #ffffff;
    /* color: #880b8d; */
    font-family: 'Lato';
    font-weight: 500;
    padding: 7px;
    border-radius: 8px;
  }

  .thumbnail img:hover {
    transform: scale(1.1);
  }

#foot-text-bar {
  background: #00000080;
  color: #fff;
  padding: 10px;
  margin-top: 40px;
}

.item-title {
  padding-left: 10px;
}

#foot-text-bar h2 {
  margin-top: 20px;
}

#foot-text-bar p {
  color: #fff;
  line-height: 5px;
  font-size: 16px;
  line-height: 22px;
}

.footer-block > h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #880b8d;
  margin: 0 0 15px 0;
  cursor: pointer;
  padding-top: 20px;
  text-transform: uppercase;
}

.footer-block-title {
  color: #880b8d;
}

  .footer-block-title::after {
    border-bottom: 3px solid #880b8d;
    content: ' ';
    display: block;
    width: 40px;
    margin-top: 3px;
  }

.footer-block > ul > li {
  display: block;
  margin: 0;
  line-height: 25px;
  border: 0;
  padding: 0;
}

  .footer-block > ul > li > a {
    font-size: 14px;
    color: #888;
    line-height: 24px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

.footer-block ul {
  padding: 0px;
}

.footer {
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
}

  .footer .newsletter {
    display: none;
  }

.footer-logo-wrap {
  border-bottom: 1px dashed #e1e1e1;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.social-link {
  line-height: 30px;
  margin: 10px auto;
}

  .social-link > li {
    display: inline-block !important;
    transition: all 0.3s ease-in-out;
    float: left;
  }

.facebook {
  background: #3c5b9b;
}

.social-link > li > a {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  text-align: center;
}

  .social-link > li > a > i {
    font-size: 18px;
    color: #fff;
  }

.instagram {
  background: #c619b8;
}

.twitter {
  background: #40c1df;
}

.pinterest {
  background-color: #c71407;
}

.social-link li {
  margin-right: 5px !important;
}

.footer-static-bottom {
  height: 30px;
  background-color: #4d4d4d;
  padding: 3px;
}


/*ADDED NEW CSS by JASIM*/
.psitemap-page .page-body::after,
.order-review-data::after,
.method-list::after,
.center-2 .product-filters::after,
.buttons::after,
.date-picker-wrapper::after,
.product-reviews-overview::after {
  content: '';
  display: table;
  clear: both;
}

img {
  font-size: 0;
  height: auto;
  line-height: 0;
  max-width: 100%;
  vertical-align: middle;
}

.button-1, .button-2 {
}

  .button-1:hover, .button-2:hover {
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }

  .button-1:active, .button-2:active,
  .button-1:focus, .button-2:focus {
    outline: none;
  }

.search-box .ui-autocomplete-loading {
  background: #fff url('../images/ajax-loader-small.gif') right center no-repeat;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.ui-autocomplete {
  width: 285px !important;
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;
  background-color: #fff;
  text-align: left;
  /*override jQuery UI styles, do not delete doubled properties*/
  border-radius: 0;
  padding: 0;
  font: normal 14px Arial, Helvetica, sans-serif;
}

  .ui-autocomplete li {
    border-top: 1px solid #ddd;
  }

    .ui-autocomplete li:first-child {
      border-top: none;
    }

  .ui-autocomplete a {
    display: block;
    padding: 15px;
    font-size: 14px;
    /*override jQuery UI styles, do not delete doubled properties*/
    margin: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    padding: 15px !important;
    line-height: normal !important;
    color: #777 !important;
  }

    .ui-autocomplete a:hover,
    .ui-autocomplete a.ui-state-focus {
      background-color: #f6f6f6 !important;
    }

  .ui-autocomplete img {
    display: none;
    min-width: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }

.item-box .product-rating-box {
  margin: 10px auto 0;
  display: inline-block;
}

.item-box .rating {
  padding: 0;
  width: 95px;
  height: 14px;
  background: url(../images/rating1.png) repeat-x;
}

  .item-box .rating div {
    background: url(../images/rating2.png) repeat-x;
    height: 14px;
  }

.item-box .description {
  display: none;
}


/*********** NOTIFICATIONS & POPUPS  ***********/



.bar-notification-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 16px;
  color: #fff;
  opacity: 0.95;
}

.bar-notification.success {
  background-color: #4bb07a;
}

.bar-notification.error {
  background-color: #e4444c;
}

.bar-notification.warning {
  background-color: #f39c12;
}

.bar-notification {
  color: #fff;
  position: relative;
  display: none;
  padding: 10px 25px 10px 10px;
}

  .bar-notification .content {
    color: #fff;
    margin: 0 10px 0 0;
  }

  .bar-notification p,
  .bar-notification a {
    color: #fff;
  }

  .bar-notification .content a {
    color: #fff;
    text-decoration: underline;
  }

  .bar-notification .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 7px;
    background: #fff url('../images/close.png') center no-repeat;
    cursor: pointer;
  }

.popup-notification {
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
}

  .popup-notification.success {
    border: 2px rgba( 75,176,122,.5) solid;
  }

  .popup-notification.error {
    border: 2px rgba( 228,68,76,.5) solid;
  }

  .popup-notification.warning {
    border: 2px rgba( 243,156,18,.5) solid;
  }

.noscript {
  border-bottom: 1px solid #333;
  background-color: #ff9;
  padding: 30px 15px;
  text-align: center;
  line-height: 22px;
  color: #444;
}

.product-essential,
.product-collateral,
.product-variant-list {
  margin-bottom: 20px;
}

.email-a-friend {
  margin-bottom: 10px;
}

  .email-a-friend .btn-danger {
    color: #fff !important;
  }

.compare-products {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 15px;
}

.product-reviews-overview {
  margin-bottom: 10px;
}

.product-no-reviews a {
  text-decoration: underline;
}

.product-review-box {
  display: inline-block;
  margin: 4px auto;
  float: left;
}

  .product-review-box .rating {
    width: 95px;
    height: 14px;
    padding-top: 0;
    background: url('../images/rating1.png') repeat-x;
  }

    .product-review-box .rating div {
      height: 14px;
      background: url('../images/rating2.png') repeat-x;
    }

.product-review-links {
  float: left;
  margin-left: 15px;
}

  .product-review-links a {
    text-decoration: underline;
  }

    .product-review-links a:hover {
      color: #4ab2f1;
    }

.button-2.email-a-friend-button {
  width: 100%;
  max-width: 305px;
  padding: 10px 15px;
}

.button-2.add-to-compare-list-button {
  max-width: 300px;
  background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
}

  .button-2.add-to-compare-list-button:hover {
    background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  }

input[type=checkbox], input[type=radio] {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.product-variant-list {
  border-top: 1px solid #ddd;
}

  .product-variant-list .add-to-cart {
    height: 44px;
    max-width: 200px;
    font-size: 20px;
    padding: 10px 15px;
  }

  .product-variant-list .price-box {
    font-size: 30px;
    line-height: 20px;
  }

  .product-variant-list .single-add-to-cart {
    margin-bottom: 10px;
  }

.form-group, .inputs {
  position: relative;
}

.required {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.contact-page .required {
  position: absolute;
  left: 5px;
  top: 26px;
  z-index: 1;
}

.contact-page .form-group input, .contact-page .form-group textarea {
  padding-left: 20px;
}

.terms-of-service {
  position: relative;
  padding-left: 30px;
}

input#termsofservice {
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 1;
}

table.cart-total {
  width: 100%;
}

.cart-total tr {
  display: none;
}

/*Checkout Page start*/
.checkout-page-order-total .cart-total tr {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.checkout-page-order-total .cart-total-left {
  width: 50%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.checkout-page-order-total .cart-total-left, .checkout-page-order-total .cart-total-right {
  width: 50%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.checkout-page-order-total table th, .checkout-page-order-total table td {
  border-bottom: 0px;
  border-right: medium none;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 9px 0px 8px 0px;
  text-align: left;
  line-height: 20px;
  height: 27px;
  border-top: 0px;
  background: none;
}

.checkout-page-order-total table .item-title {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 9px 0px 8px 0px;
  text-align: left;
}

.checkout-page-order-total .order-summary-content .row,
.checkout-page-order-total .order-summary-content .shopping-border,
.checkout-page-order-total .order-summary-content img,
.checkout-page-order-total .earn-reward-points,
.checkout-page-order-total table.cart thead tr {
  display: none !important;
}

.checkout-page-order-total table.cart tr {
  border-bottom: 1px solid #d8d8d8;
}

  .checkout-page-order-total table.cart tr td {
    padding: 5px;
  }

.checkout-page-order-total .grand-total {
  padding: 0px;
  margin-bottom: 10px;
}

.checkout-page-order-total .table-content table td.li-product-price {
  font-size: 14px;
  font-weight: normal;
}
/*Checkout Page end*/
.home-category-container .home-subcategory,
.home-subcategory-container .home-category {
  display: none;
}
/*Home Page Start*/
.home-subcategory-container .shop-grid .shop-image img {
  min-height: 280px;
}

/*Home Page End*/
.cart-total tr.order-total {
  display: block;
  text-align: right;
}

td.cart-total-right {
  text-align: right;
}

.checkout-page .total-info {
  margin-top: 40px;
}

.cart-options {
  margin-top: 35px;
}

.cart-total tr.order-total td {
  width: auto;
  padding: 24px 0;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

  .cart-total tr.order-total td label,
  .cart-total tr.order-total td strong {
    font-weight: 700;
    text-align: right;
    margin: 0 auto;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
  }

.li-proceed-to-checkout-btn {
  text-align: right;
}

.row.common-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputs {
  margin-bottom: 10px;
}

.opc .buttons {
  text-align: left;
  margin: 10px auto;
  padding-bottom: 10px;
}

.opc .cart-total tr.order-total td {
  width: 49%;
  padding: 0 0;
  margin: 0 auto;
}

.order-button-payment input[type="submit"] {
  max-width: 100%;
}

.date-picker-wrapper select {
  float: left;
  width: 32.33333%;
  margin-right: 1%;
  margin-bottom: 5px;
}

  .date-picker-wrapper select:last-child {
    margin-right: 0;
  }

.order-completed-continue-button,
.save-address-button,
.apply-vendor-button,
.login-button,
.news-item-add-comment-button,
.blog-post-add-comment-button,
.send-email-a-friend-button,
.register-next-step-button,
.password-recovery-button,
.save-customer-info-button,
.write-product-review-button,
.change-password-button,
.re-order-button {
  background: #880b8d;
  font-size: 16px;
  color: #FFF;
  padding: 10px 32px;
  display: inline-block;
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: Lato;
  font-weight: 600;
  box-shadow: 0px 7px 7px -5px rgba(0,0,0,0.75);
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
}

  .save-address-button:hover,
  .apply-vendor-button:hover,
  .login-button:hover,
  .news-item-add-comment-button:hover,
  .blog-post-add-comment-button:hover,
  .re-order-button:hover,
  .send-email-a-friend-button:hover,
  .register-next-step-button:hover,
  .password-recovery-button:hover,
  .save-customer-info-button:hover,
  .write-product-review-button:hover,
  .change-password-button:hover,
  .order-completed-continue-button:hover {
    padding: 10px 32px;
    border-radius: 5px;
    border: 0px solid #e1e1e1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
  }

.buttons {
  text-align: center;
  margin: 30px auto;
}

input[type=reset], input[type=submit], button, input[type=button] {
  max-width: 220px;
}

.new-wrapper .text,
.customer-blocks .buttons {
  text-align: left;
  margin-bottom: 30px;
}

.returning-wrapper .buttons {
  margin-top: 0;
}

.new-wrapper .text {
  margin-top: 45px;
}

.page-title h1 {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 3px solid #880b8d;
}

.checkout-page .page-title h1 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 0;
}

.section.select-billing-address {
  margin-bottom: 25px;
}

.product-grid {
  z-index: 0;
  position: relative;
}

.center-2 .product-filter {
  z-index: 1;
  margin-bottom: 15px;
  position: relative;
  float: left;
  margin-right: 10px;
}

.center-2 .product-filters {
  display: none;
}

.center-2 .filter-title {
  width: 180px;
  color: #fff;
  padding: 10px;
  position: relative;
  background: #880b8d;
}

  .center-2 .filter-title:hover {
    cursor: pointer;
  }

  .center-2 .filter-title::after {
    content: "\f061";
    font: normal normal normal 12px/1 FontAwesome;
    position: absolute;
    right: 13px;
    top: 12px;
  }

.center-2 .filter-content {
  position: absolute;
  padding: 0px 10px 15px;
  width: 180px;
  box-shadow: 0px 0px 3px 1px #a4a4a4a1;
  background: #880b8d;
  color: #fff;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

  .center-2 .filter-content .item a, .center-2 .filter-content a {
    color: #fff;
  }

  .center-2 .filter-title:hover + .filter-content, .center-2 .filter-content:hover {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }

  .center-2 .filter-content li.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin: 10px auto;
    color: #ddd;
  }

.rating-wrapper {
}

  .rating-wrapper > * {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

ul.sublist.first-level {
  display: none;
}

.pager ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

  .pager ul li > * {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .pager ul li.current-page > * {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .pager ul li:last-child > * {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .pager ul li:first-child > * {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

.order-review-data {
  margin-bottom: 20px;
}


.billing-info-wrap,
.shipping-info-wrap {
  float: left;
  width: 49%;
  margin-right: 1%;
  border: 1px solid #ddd;
  padding: 10px;
}

.shipping-info-wrap {
  margin-left: 1%;
  margin-right: auto;
}

.section.payment-method,
.section.shipping-method,
.section.payment-info {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 30px 30px;
}

.method-list li {
  float: left;
  width: 49%;
  margin-bottom: 10px;
  margin-right: 1%;
}

.method-list .payment-logo {
  display: inline-block;
  width: 60px;
  vertical-align: middle;
}

.method-list .payment-details {
  display: inline-block;
  width: calc(100% - 65px);
  vertical-align: middle;
}

.section.payment-info {
  padding: 15px 30px 30px;
}

.payment-info .info td {
  display: block;
}

.payment-info #CardholderName,
.payment-info #CardNumber {
  min-width: 100%;
}

#ExpireMonth,
#ExpireYear {
  width: 40%;
  margin: 0 1%;
}

input#CardCode {
  min-width: 120px;
}

.payment-info .info label {
  margin-bottom: 5px;
  margin-top: 15px;
}

.link-cart {
  color: #666;
}

.admin-header-links {
  background-color: #333;
  text-align: center;
  color: #eee;
}

  .admin-header-links * {
    display: inline-block;
    margin: 0 10px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
  }

  .admin-header-links .impersonate {
    display: inline-block;
  }

    .admin-header-links .impersonate a {
      background-color: #555;
      padding: 0 15px;
    }

      .admin-header-links .impersonate a:hover {
        background-color: #666;
      }

/*wishlist*/
table.cart .quantity {
}

.single-line {
}
.fb-messengermessageus {
  width: 200px;
  height: 60px;
  position: relative;
  background: url(../images/header/fbmessage.png) no-repeat center;
  background-size: cover;
}
  .fb-messengermessageus * {
    opacity: 0 !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 1 !important;
  }